[submodule "libs/@atomicdesign/atomic-genesis"]
	path = libs/@atomicdesign/atomic-genesis
	url = https://github.com/brandonmerb/atomic-genesis.git
	branch = main
[submodule "libs/@atomicdesign/atomic-origin"]
	path = libs/@atomicdesign/atomic-origin
	url = https://github.com/brandonmerb/atomic-origin.git
	branch = main
[submodule "libs/@atomicdesign/atomic-singularity"]
	path = libs/@atomicdesign/atomic-singularity
	url = https://github.com/brandonmerb/atomic-singularity
	branch = main
[submodule "libs/@atomicdesign/atomic-vue"]
	path = libs/@atomicdesign/atomic-vue
	url = https://github.com/brandonmerb/atomic-vue
	branch = main
[submodule "apps/@atomicdesign/atomic-design-starter"]
	path = apps/@atomicdesign/atomic-design-starter
	url = https://github.com/brandonmerb/atomic-design-starter.git
	branch = main
[submodule "libs/@atomicdesign/atomic-engine"]
	path = libs/@atomicdesign/atomic-engine
	url = https://github.com/brandonmerb/atomic-engine.git
	branch = main
