[submodule "atomic-design-starter"]
	path = apps/@atomicdesign/atomic-design-starter
	url = https://github.com/brandonmerb/atomic-design-starter.git
	branch = main

[submodule "atomic-engine"]
	path = libs/@atomicdesign/atomic-engine
	url = https://github.com/brandonmerb/atomic-engine.git
	branch = main

[submodule "atomic-genesis"]
	path = libs/@atomicdesign/atomic-genesis
	url = https://github.com/brandonmerb/atomic-genesis.git
	branch = main

[submodule "atomic-origin"]
	path = libs/@atomicdesign/atomic-origin
	url = https://github.com/brandonmerb/atomic-origin.git
	branch = main

[submodule "atomic-singularity"]
	path = libs/@atomicdesign/atomic-singularity
	url = https://github.com/brandonmerb/atomic-singularity.git
	branch = main

[submodule "atomic-vue"]
	path = libs/@atomicdesign/atomic-vue
	url = https://github.com/brandonmerb/atomic-vue.git
	branch = main
[submodule "halocms-sdk"]
	path = libs/@golden-circuit-technologies/halocms-sdk
	url = https://github.com/brandonmerb/halocms-sdk.git
	branch = main
[submodule "halocms-demo"]
	path = apps/@golden-circuit-technologies/halocms-demo
	url = https://github.com/brandonmerb/halocms-demo.git
	branch = main
[submodule "atomic-sdk"]
	path = libs/@atomicdesign/atomic-sdk
	url = https://github.com/brandonmerb/atomic-sdk.git
	branch = main
